// NAVBAR TOP
div.navbar.navbar-default.navbar-fixed-top(role="navigation")
	div.navbar-header
		a.masthead.hidden-sm(href="../") Chicago Times
		a.masthead.hidden-md.hidden-lg.hidden-xs(href="#") C

// NAVBAR NAVIGATION
div.navbar.navbar-default.navbar-secondary(role="navigation")
	
		
			div.col-sm-2
				a.story-item(href="http://class.medill.co/490/assignments/personality/ThePumpkinQueen/")
					//div.story-item-background(style="background-image:url('photos/driving_force/drivingforce_3439.jpg');")
					div.story-item-container
						div.story-item-content
							h3 The Pumpkin Queen
							p Circleville's Annual Pumpkin Show
							p.byline by Zach Wise

			div.col-sm-2
				a.story-item(href="http://class.medill.co/490/assignments/personality/LagoonontheMoon/")
					//div.story-item-background(style="background-image:url('photos/driving_force/drivingforce_3508.jpg');")
					div.story-item-container
						div.story-item-content
							h3 Opera-Matic Sings Through the Night in Humboldt Park
							p.byline by Christina Cala
					
			div.col-sm-2
				a.story-item(href="http://class.medill.co/490/assignments/personality/MorticianMan/")
					//div.story-item-background(style="background-image:url('photos/driving_force/drivingforce_3508.jpg');")
					div.story-item-container
						div.story-item-content
							h3 Mortician Man
							p Inside the Cadaver Lab at the U.S. Military's Only Medical School
							p.byline by Homa Bash
			div.col-sm-2
				a.story-item(href="http://class.medill.co/490/assignments/personality/QuakeCollectibles/")
					//div.story-item-background(style="background-image:url('photos/driving_force/drivingforce_3508.jpg');")
					div.story-item-container
						div.story-item-content
							h3 THE THRILL OF THE FIND
							p Lincoln Square toy store brings rare 80s collectibles to enthusiasts, young and old.
							p.byline by Monika Wnuk
			div.col-sm-2
				a.story-item(href="http://class.medill.co/490/assignments/personality/Teachingthemyoung/")
					//div.story-item-background(style="background-image:url('photos/driving_force/drivingforce_3508.jpg');")
					div.story-item-container
						div.story-item-content
							h3 TAKING ON PRESCHOOL
							p Young Teachers Offer Innovative Approach to Early Education
							p.byline by Elissa Nadworny
			div.col-sm-2
				a.story-item(href="http://class.medill.co/490/assignments/personality/franks/")
					//div.story-item-background(style="background-image:url('photos/driving_force/drivingforce_3508.jpg');")
					div.story-item-container
						div.story-item-content
							h3 FRANK'S PLACE
							p.byline by Scott Thomas
// END NAVBAR

