/*!
	MASTHEAD FONT

*/

div.navbar {
	text-align:center;
	a.masthead {
		font-family: @font-family-masthead;
		float:none;
		font-size: 32px;
		margin:20px 0px 10px 0px;
		color:#666;
		//padding: 10px 0px 10px 0px;
	}
	ul {
		li {
			font-weight:300;
			text-transform: uppercase;
		}
	}
}
footer {
	margin-top:50px;
}
.story-body {
	margin-top:50px;
}
p.lead {
	font-weight:300;
}
.story-header {
	margin-top:100px;
	//text-align:center;
	
	
}
h1 {
	margin-top:0;
	font-size: (@font-size-base * 3);
	line-height:(@font-size-base * 3.5);
	text-transform: uppercase;
	margin-bottom: 30px;
	font-weight:900;
	color:@gray-darker;
	small {
		display:block;
	}
}
h1.extra-large {
	font-size: (@font-size-base * 4);
	font-weight:900;
	small {
		font-weight:300;
	}
}

.byline {
	font-size:0.8em;
	color: @gray-light;
}

.copyright {
	text-align:center;
	font-size:12px;
	color:@gray-light;
}

blockquote {
	display:block;
	padding:0;
	font-size: (@font-size-base * 1.75);
	margin: 20px 0px 20px 0px;
	border:0;
	color:@gray-darker;
	p {
		text-align:center;
		margin:0;
		
		&:before {
			content:"“";
			color:@gray-light;
		}
		&:after {
			content:"”";
			color:@gray-light;
		}
	}
	cite {
		&:before {
			content:"— ";
			color:@gray-light;
		}
		display:block;
		font-size: 12px;
		text-align:right;
	}
}
.carousel-caption, .caption, figcaption {
	//font-family: @font-family-caption;
}

figure  {
	figcaption {
		margin-bottom:20px;
		text-align:left;
		font-size: 12px;
		line-height:14px;
	}
	figcaption.credit {
		text-align:right;
		color:@gray-light;
		margin: 1px 0px 5px 0px;
		font-size:10px;
		line-height:11px;
	}
}

.full-width {
	img {
		width:100%;
	}
	figure {
		figcaption {
			margin-left:20px;
		}
		figcaption.credit {
			margin-right:20px;
		}
	}
}