.story-header {
	margin-top:150px;
	text-align:center;
	h1 {
		font-size: (@font-size-base * 3);
		text-transform: uppercase;
		margin-bottom: 0px;
		font-weight:700;
		color:@gray-darker;
		small {
			
		}
	}
	
}
.byline {
	font-size:0.8em;
	color: @gray-light;
}

.copyright {
	text-align:center;
	font-size:12px;
	color:@gray-light;
}

blockquote {
	display:block;
	padding:0;
	font-size: (@font-size-base * 1.75);
	margin: 20px 0px 20px 0px;
	border:0;
	color:@gray-darker;
	p {
		text-align:center;
		margin:0;
		
		&:before {
			content:"“";
			color:@gray-light;
		}
		&:after {
			content:"”";
			color:@gray-light;
		}
	}
	cite {
		&:before {
			content:"— ";
			color:@gray-light;
		}
		display:block;
		font-size: 12px;
		text-align:right;
	}
}
.carousel-caption, .caption, figcaption {
	//font-family: @font-family-caption;
}

figure  {
	figcaption {
		margin-bottom:20px;
		text-align:left;
		font-size: 12px;
		line-height:14px;
	}
	figcaption.credit {
		text-align:right;
		color:@gray-light;
		margin: 1px 0px 5px 0px;
		font-size:10px;
		line-height:11px;
	}
}

.full-width {
	img {
		width:100%;
	}
	figure {
		figcaption {
			margin-left:20px;
		}
		figcaption.credit {
			margin-right:20px;
		}
	}
}